div.asd {
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.stats {
    background: #fff;
    width: max-content;
    margin: 1rem;
    padding: 1em 1.5em;
    border-radius: 25px;
}

.randomize {
    padding: 1em 1.5em;
    margin: 1rem;
    border: 3px solid black;
    width: max-content;
    border-radius: 20px;
    background: rgb(211, 211, 211);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.next-note-taker {
    margin: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}