@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-petra: #E0218A;
    --color-misi: #C50C0C;
    --color-roli: #00FFFF;
    --color-alex: #246309;
    --color-javi: #F2CC0D;
}

body {
    background-image: url('./assets/background.webp');
    background-size: cover;
    background-position: center;
}