@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-petra: #FB23A8;
    --color-misi: #FD3033;
    --color-roli: #00FFFF;
    --color-alex: #246309;
    --color-javi: #FBAF23;
}

body {
    background: blue;
}