.test {
    margin: 30px;
    width: 500px;
    height: 500px;
    background-image: url('./assets/profiles/Petra.webp');
    /* filter: saturate(0.3); */
    background-size: cover;
    position: relative;
}

.test::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-petra);
    mix-blend-mode: color;
}